{
    "httpPort": "3026",
    "httpsPort": 0,
    "certificateFile": "/etc/letsencrypt/live/yourDomain/fullchain.pem",
    "certificatePrivateKeyFile": "/etc/letsencrypt/live/yourDomain/privkey.pem",
    "infuraProjectId": "yourInfuraProjectId",
    "infuraProjectSecret": "yourInfuraProjectSecret"
}